<div class="{{cssNamespace}}__text-container">
  <h4 class="js-vault-name {{cssNamespace}}__title">
    {{vault.name}}
  </h4>
  <div class="{{cssNamespace}}__state">
    {{vault.startState}}
  </div>
</div>
<a
  href="#"
  {{action "editVaultAction" vault.id}}
  class="js-edit-vault btn btn-sm btn-primary {{cssNamespace}}__link"
>
  Edit vault
</a>
<a href="#" class="js-withdraw" {{action 'withdraw' vault.id}}>Widthdraw</a>
