{{#each vaults as |vault|}}
  {{vault-item
    name=vault.name
    id=vault.id
    editVaultAction=attrs.editVaultTransition
  }}
{{/each}}

<button class="btn btn-primary js-create-vault" {{action attrs.newVaultTransition}}>Create vault</button>

<div>
  {{input type="text" value=expenseName class="js-expense-name"}}
  <button class="js-add-expense" {{action "addExpense"}}>Add expense</button>
</div>

<table class="table js-expenses">
  {{#each expenses as |expense|}}
    <tr>
      <td>{{expense.name}}</td>
    </tr>
  {{/each}}
</table>
