{{#lf-form validityChanged=(action (mut isValid)) rules=rules as |v|}}
  {{lf-input
    name="vaultName"
    property=formData.name
    on-update=(action "valueChanged" "name")
    validate=v
    class="js-vault-name"
  }}
  {{lf-input
    name="startState"
    property=formData.startState
    on-update=(action "valueChanged" "state")
    validate=v
    class="js-start-state"
  }}
{{/lf-form}}

<button class="btn btn-primary js-submit" disabled={{not isValid}} {{action "submit" formData}}>Create vault</button>
{{#if editing}}
  <button class="btn btn-danger js-delete" {{action "delete"}}>Delete vault</button>
{{/if}}
